<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> <!-- Tabla de información   -->
   <div class="container">
   <div class="row col-md-12">
    <table class="table table-responsive table-bordered table-striped table-hover">
        <tr>
           
            <th>
                <span class="alert alert-info">Imagen</span>
                
            </th>
            <th>
                <span class="alert alert-">Nombre</span>
            </th>
            <th>
                <span class="alert alert-danger">EMail</span>
            </th>
            <th>
                <span class="alert alert-success">Telefono</span>
            </th>
            <th>
                <span class="alert alert-danger">Website</span>
            </th>
            <th>
                <span class="alert alert-default">Mensaje</span>
            </th>
            <th></th>
        </tr>
        <tr>
            <td><img src="../uploads/imagen.jpg" alt="" width="80"></td>
            <td>Alex Lora</td>
            <td>alex@hotmail.com</td>
            <td>134355354</td>
            <td>alex.com</td>
            <td>fsdfsd sdf sdf sfd sdf sdf</td>
            <td><button class="form-control btn btn-default">Revisado</button></td>
        </tr>
        <tr>
            <td><img src="../uploads/imagen.jpg" alt="" width="80"></td>
            <td>Alex Lora</td>
            <td>alex@hotmail.com</td>
            <td>134355354</td>
            <td>alex.com</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint natus, ut? Vitae, laudantium repellat voluptates provident corporis voluptas odit aperiam rerum, natus facere ipsam, optio esse. Laborum repudiandae eos provident!</td>
            <td><button class="form-control btn btn-default">Revisado</button></td>
        </tr>
    </table>
    
    </div>
    </div>
    <script src="js/jquery.js"></script>
</body>
</html>